
.wz-view{
    background: #FFF;
}

.wz-scroll-slider{
    width: 5px;
}

.wz-scroll-bar{
    width: 5px;
}

.wz-view-minimize, .wz-view-maximize, .wz-view-close{
    float: right;
    margin-top: 9px;
}

.wz-view-close{
    margin-right: 20px;
}

.wz-view-minimize:hover, .wz-view-maximize:hover, .wz-view-close:hover{
    border: 1px solid #EEE;
}

.wz-view-menu{
    
    width: 560px;
    height: 39px;
    padding: 0px;
    background: #54728C;
    border-bottom: 1px solid #466176;
    
}

.wz-view-menu span{
    
    float: left;
    font-size: 16px;
    color: #FFF;
    margin-left: 30px;
    margin-top: 13px;
    
}

.content{
    width: 500px;
    height: 220px;
    padding: 40px 30px 30px;
}

select{

    width: 242px;
    float: right;
    margin-top: -3px;
    border-radius: 3px;
    border: 1px solid #DDD; 
    font-size: 14px;
    color: #5D5D5D;
    padding: 3px 5px 3px 106px;
    
}

select:focus{

    border: 1px solid #50BDFF;
    
}

input{

    width: 230px;
    float: left;
    margin-top: -3px;
    border-radius: 3px;
    border: 1px solid #DDD; 
    font-size: 14px;
    color: #5D5D5D;
    padding: 3px 5px 3px 5px;
    
}

input:focus{
    border: 1px solid #50BDFF;
}

.checkbox input{

    cursor: default;
    
}

button{

    border-radius: 2px;
    border-top: 1px solid #4B4B4D;
    padding: 10px 25px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 1px 1px #AAA;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,rgb(54,54,57) 0%,rgb(39,39,41) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgb(54,54,57) 0%,rgb(39,39,41) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(54,54,57) 0%,rgb(39,39,41) 100%);
    background-image: linear-gradient(0deg,rgb(39,39,41) 0%,rgb(54,54,57) 100%);

}

button:hover{

    border-top: 1px solid #5D5D60;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,rgb(75,75,77) 0%,rgb(55,55,56) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgb(75,75,77) 0%,rgb(55,55,56) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(75,75,77) 0%,rgb(55,55,56) 100%);
    background-image: linear-gradient(0deg,rgb(55,55,56) 0%,rgb(75,75,77) 100%);

}

button.big{
    padding: 10px 40px;
}

button.active{

    border-top: 1px solid #50BDFF;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,rgb(60,181,255) 0%,rgb(44,153,255) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgb(60,181,255) 0%,rgb(44,153,255) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(60,181,255) 0%,rgb(44,153,255) 100%);
    background-image: linear-gradient(0deg,rgb(44,153,255) 0%,rgb(60,181,255) 100%);

}

button.active:hover{

    border-top: 1px solid #60CBFF;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,rgb(77,197,255) 0%,rgb(56,175,255) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgb(77,197,255) 0%,rgb(56,175,255) 100%);
    background-image: -o-linear-gradient(-90deg,rgb(77,197,255) 0%,rgb(56,175,255) 100%);
    background-image: linear-gradient(0deg,rgb(56,175,255) 0%,rgb(77,197,255) 100%);

}

button.disabled{

    border-top: 1px solid #333334;
    background: rgba(58,58,59,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
    color: #666;  
    cursor: default;

}

button.disabled:hover{

    border-top: 1px solid #333334;
    background: rgba(58,58,59,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);  

}

button.warning{

    border-top: 1px solid #A14C53;
    background: #96383F;

}

button.warning:hover{

    border-top: 1px solid #AB5E65;
    background: #A14C53;

}

.description{

    font-size: 17.4px;
    color: #666;
    float: left;
    margin-bottom: 15px;
    text-align: justify;

}

.data{

    width: 100%;
    float: left;
    margin-top: 15px;

}

span{
    margin-left: 0;
}

.data span{

    font-size: 16px;
    float: left;
    color: #666;

}

.data input{
    float: right;
}

button{
    float: right;
}

.smtp-secure input, .imap-secure input{
    cursor: pointer;
}
