
.wz-view{
    background: #fbfbfb;
}

.wz-scroll-slider{
    width: 5px;
}

.wz-scroll-bar{
    width: 5px;
}

.wz-view-menu-group{
    background: none !important;
    border-left: 1px solid rgba(0,0,0,.2);
    box-shadow: -1px 0 rgba(255,255,255,.1);
}

.wz-view-minimize:hover, .wz-view-maximize:hover, .wz-view-close:hover{
    border: 1px solid #EEE;
}

.wz-view-menu{
    
    width: 560px;
    height: 39px;
    padding: 0px;
    border-radius: 3px 3px 0 0;
    background: #54728c;
    box-shadow: inset 0 1px rgba(0,0,0,.15);
    border-bottom: 1px solid #466176;
    
}

.wz-view-menu span{
    
    width: 130px;
    float: left;
    font-size: 14px;
    color: #fefefe;
    text-shadow: 0 1px rgba(0,0,0,.3);
    margin-left: 20px;
    margin-top: 14px;
    
}

.content{
    width: 560px;
    height: 481px;
}

input{
    height: 23px;
    width: 429px;
}

select{
    padding-top: 5px;
}

.content-compose{

    margin: 10px 25px 18px;
    width: 448px;
    height: 255px;
    float: left;
    border-radius: 3px;
    border: 1px solid #DDD;
    font-size: 14px;
    color: #5D5D5D;
    padding: 20px 30px 20px 30px;
    
}

.content-compose:focus{
    border: 1px solid #7ebe30;
}

.content span{
    width: 55px;
    height: 16px;
    float: left;
    margin-top: 5px;
    font-size: 13px;
    color: #5D5D5D;
    margin-right: 14px;
    text-align: right;
}

.content-from span{
    margin-top: 4px;
}

.content-to{
    float: left;
    clear: left;
    margin-top: 16px;
}

.content-to i{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
    height: 0;
    margin-right: 4px;
    vertical-align: -11px;
    width: 0;
}

.content-cc{
    float: left;
    clear: left;
    margin-top: 7px;
    display: none;
}

.show .content-cc{
    display: block;
}

.content-cco{
    float: left;
    clear: left;
    margin-top: 7px;
    display: none;
}

.show .content-cco{
    display: block;
}

.content-subject{
    float: left;
    clear: left;
    margin-top: 7px;
}

.content-from{
    float: left;
    clear: left;
    margin-top: 7px;
}

.content-info{
    float: left;
    width: 560px;
    height: 108px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
}

.content-info article{
    width: 520px;
    padding: 0 20px;
}

.content-attachments{
    display: block;
    width: 260px;
    height: 27px;
    float: left;
    padding-left: 25px;
    padding-bottom: 10px;
}

.content-attachments span{
    float: left;
    font-size: 14px;
    color: #AAA;
    cursor: pointer;
}

.content-attachments span:hover{
    color: #5D5D5D;
}

.content-attachments i{
    width: 14px;
    height: 13px;
    float: left;
    background: url('@static/sprite.png') no-repeat -79px -14px;
    background-size: 177px 40px;
    margin-top: 7px;
}

.content-send{
    display: block;
    width: 250px;
    height: 27px;
    float: left;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 10px;
}

.content-send figure{
    display: inline-block;
    width: auto;
    padding: 6px 20px;
    font-size: 13px;
    height: 13px;
}
