
.wz-win{
    background: #FFF;
}

.wz-scroll-slider{
    width: 5px;
}

.wz-scroll-bar{
    width: 5px;
}

.wz-win-minimize, .wz-win-maximize, .wz-win-close{
    float: right;
    margin-top: 9px;
}

.wz-win-close{
    margin-right: 20px;
}

.wz-win-minimize:hover, .wz-win-maximize:hover, .wz-win-close:hover{
    border: 1px solid #EEE;
}

.wz-win-menu{
    
    width: 560px;
    height: 39px;
    padding: 0px;
    background: #54728C;
    border-bottom: 1px solid #466176;
    
}

.wz-win-menu span{
    
    width: 130px;
    float: left;
    font-size: 16px;
    color: #FFF;
    margin-left: 20px;
    margin-top: 13px;
    
}

.content{
    width: 520px;
    height: 460px;
    padding: 20px;
}

input{

    width: 230px;
    float: left;
    margin-top: -3px;
    border-radius: 3px;
    border: 1px solid #DDD; 
    font-size: 14px;
    color: #5D5D5D;
    padding: 3px 5px 3px 5px;
    
}

input:focus{
    border: 1px solid #50BDFF;
}

form{
    float: left;
}

select{

    width: 242px;
    height: 25px;
    padding: 2px;
    color: #5D5D5D;
    border: 1px solid #DDD;
    border-radius: 3px;
    font-size: 14px;
    
}

.content-compose{

    width: 458px;
    height: 260px;
    float: left;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px solid #DDD; 
    font-size: 14px;
    color: #5D5D5D;
    padding: 20px 30px 20px 30px;
    
}

.content-compose:focus{
    border: 1px solid #50BDFF;
}

.content span{
    width: 80px;
    height: 16px;
    float: left;
    margin-top: 2px;
    font-size: 14px;
    color: #5D5D5D;
}

.content-from span{
    margin-top: 4px;
}

.content-send i{
    width: 31px;
    height: 26px;
    float: left;
    margin-top: 15px;
    margin-left: 39px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -32px 0;
    background-size: 177px 40px;
}

.content-to{
    float: left;
    clear: left;
    margin-top: 8px;
}

.content-cc{
    float: left;
    clear: left;
    margin-top: 8px;
    display: none;
}

.show .content-cc{
    display: block;
}

.content-cco{
    float: left;
    clear: left;
    margin-top: 8px;
    display: none;
}

.show .content-cco{
    display: block;
}

.content-subject{
    float: left;
    clear: left;
    margin-top: 8px;
}

.content-from{
    float: left;
    clear: left;
    margin-top: 5px;
}

.content-send{
    width: 110px;
    height: 83px;
    float: right;
    margin-top: 5px;
    margin-right: 49px;
    background: #F7F7F7;
    border: 1px solid #DADADA;
    border-radius: 2px;
}

.content-send:hover{
    box-shadow: inset 0px 0px 7px #FEA100;
    border: 1px solid rgba(60,60,60,0);
    border-radius: 3px;
}

.content-send span{
    text-align: center;
    margin-top: 8px;
    margin-left: 14px;
}

.content-left-container{
    width: 520px;
    height: 100px;
}

.content-left-container.show{
    height: 150px;
}


.content-left{
    float: left;
}

span.content-show{
    float: left;
    color: #AAA;
    width: auto;
    margin: 11px 9px;
}

span.content-show:hover{
    color: #5D5D5D;
}

.show span.content-show{
    color: #54728C;
}

.content-attachments{
    display: block;
    width: 520px;
    height: 30px;
    float: left;
    margin-top: 15px;
}

.content-attachments span{
    float: left;
    font-size: 14px;
    color: #AAA;
    cursor: pointer;
}

.content-attachments span:hover{
    color: #5D5D5D;
}

.content-attachments i{
    width: 14px;
    height: 13px;
    float: left;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -79px -14px;
    background-size: 177px 40px;
}
