
.wz-win{
    background: #FFF;
}

.wz-scroll-slider{
    width: 5px;
}

.wz-scroll-bar{
    width: 5px;
}

.wz-win-minimize, .wz-win-maximize, .wz-win-close{
    float: right;
    margin-top: 6px;
    width: 15px;
    height: 15px;
}

.wz-win-minimize:hover, .wz-win-maximize:hover, .wz-win-close:hover{
    border: 1px solid #EEE;
}

.wz-win-close{
    padding-right: 5px;
    padding-left: 7px;
    margin-right: 15px
}

.wz-win-minimize i, .wz-win-maximize i, .wz-win-close i{
    width: 15px;
    height: 15px;
    background: url("https://static.weezeel.com/app/8/buttons.png") no-repeat;
    background-size: 43px 15px;
}

.wz-win-minimize i{
    background-position: 0 0;
}

.wz-win-maximize i{
    background-position: -15px 0;
}

.wz-win-close i{
    background-position: -30px 0;
}

hr{
    width: 520px;
    float: left;
    border: none;
    border-bottom: 1px solid #DADADA;
    margin: 20px 0;
}

.left-column{
    width: 180px;
    height: 540px;
    float: left;
    background: #F9F9F9;
}

.left-column-top{
    width: 180px;
    height: 39px;
    float: left;
    border-bottom: 1px solid #466176;
    background: #54728C;
}

.left-column-top span{
    width: 145px;
    height: 16px;
    float: left;
    margin-left: 20px;
    margin-top: 13px;
    font-size: 15px;
    color: #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.left-column-content{
    width: 180px;
    height: 500px;
    float: left;
}

.left-column-content-scroll{
    height: 429px;
}

.middle-column{
    width: 250px;
    height: 540px;
    float: left;
}

.middle-column-top{
    width: 250px;
    height: 39px;
    float: left;
    border-bottom: 1px solid #466176;
    background: #54728C;
}

.middle-column-content{
    width: 250px;
    height: 500px;
    float: left;
}

.right-column{
    width: 560px;
    height: 540px;
    float: left;
}

.right-column-top{
    width: 560px;
    height: 39px;
    float: left;
    border-bottom: 1px solid #466176;
    background: #54728C;
}

.right-column-content{
    width: 520px;
    height: 481px;
    padding: 19px 20px 0;
    float: left;
}

.separator{
    width: 5px;
    height: 540px;
    float: left;
    background: #ECECEC;
}

.separator-top{
    width: 3px;
    height: 40px;
    float: left;
    background: #66829A;
    border-left: 1px solid #466176;
    border-right: 1px solid #466176;
}

.separator-content{
    width: 3px;
    height: 500px;
    float: left;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
}

.new-mail{
    width: 100px;
    height: 15px;
    margin: 19px;
    padding: 8px 20px;
    border-radius: 2px;
    background: #E45857;
    border: 1px solid #C14142;
}

.new-mail i{
    width: 16px;
    height: 16px;
    float: left;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -63px 0;
    background-size: 177px 40px;
}

span{
    float: left;
    margin-left: 8px;
    font-size: 14px;
    color: #FFF;
}

.new-mail span{
    margin-top: 2px;
}

.account{
    width: 180px;
    height: 38px;
    border-top: 1px solid rgba(60,60,60,0);
    border-bottom: 1px solid rgba(60,60,60,0);
    float: left;
    overflow: hidden;
}

.account:hover{
    background: rgba(117,169,209,0.3);
    border-top: 1px solid #75A9D1;
    border-bottom: 1px solid #75A9D1;
}

.account.display:hover{
    background: none;
    border-top: 1px solid rgba(60,60,60,0);
    border-bottom: 1px solid rgba(60,60,60,0);
}

.account .arrow{
    width: 0px; 
    height: 0px; 
    float: left;
    margin: 13px 1px 0px 14px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid #AAA;
}

.account.display .arrow{
    margin: 16px 0px 0px 11px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #AAA;
}

.account span{
    margin-top: 11px;
    margin-left: 8px;
    color: #5D5D5D;
    max-width: 100px;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mailbox, .syncing{
    width: 180px;
    height: 35px;
    float: left;
}

.mailbox:hover{
    background: rgba(117,169,209,0.3);
}

.mailbox.active{
    background: rgba( 0, 0, 0, 0.05 );
    box-shadow: -2px 0 0 #54728C inset;
}

.syncing:hover{
    background: none;
}

.mailbox:nth-child(4){
    margin-top: 13px;
}

.mailbox span{
    float: left;
    margin-left: 8px;
    margin-top: 10px;
}   

.mailbox i{
    width: 14px;
    height: 14px;
    float: left;
    margin-left: 28px;
    margin-top: 11px;
    display: block;
}

.bullet{
    height: 9px;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
    line-height: 8px;
    padding: 5px;
    border-radius: 2px;
    background: #E45857;
    border: 1px solid #C14142;
    max-width: 23px;
    color: #FFF;
    font-size: 14px;
}

.bullet.big{
    margin-top: 6px;
}

.bullet:empty{
    display: none;
}

.add-account{
    width: 160px;
    height: 38px;
    border-top: 1px solid #DADADA;
    float: left;
    margin-left: 9px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.add-account i{
    width: 14px;
    height: 13px;
    margin-top: 10px;
    margin-bottom: -2px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -14px -25px;
    background-size: 177px 40px;
    display: inline-block;
    cursor: pointer;
}

.add-account span{
    float: none;
    font-size: 14px;
    color: #5D5D5D;
    display: inline-block;
    cursor: pointer;
}

.syncing i{
    margin-top: 9px;
    background: url('https://static.weezeel.com/app/8/syncing.gif') no-repeat 0 0;
    background-size: 14px 14px;
}

.inbox i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -79px 0;
    background-size: 177px 40px;
}

.starred i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -135px 0;
    background-size: 177px 40px;
}

.sent i{
    height: 10px;
    margin-top: 13px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -121px 0;
    background-size: 177px 40px;
}

.drafts i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -42px -26px;
    background-size: 177px 40px;
}

.trash i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -123px -23px;
    background-size: 177px 40px;
}

.spam i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -109px -23px;
    background-size: 177px 40px;
}

.normal i{
    height: 11px;
    margin-top: 10px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -93px 0;
    background-size: 177px 40px;
}

.middle-column-top span{
    width: 80px;
    height: 15px;
    float: left;
    margin-top: 13px;
    margin-left: 20px;
    font-size: 14px;
    color: #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.middle-column-top input{
    width: 110px;
    height: 15px;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    background: #FFF;
    border-radius: 2px;
    padding: 5px 5px;
    font-size: 13px;
    color: #4D4D4D;
}

.middle-column-top input::-webkit-input-placeholder {
    font-size: 13px;
    color: #5D5D5D;
}

.middle-column-top input:-moz-placeholder { /* Firefox 18- */
    font-size: 13px;
    color: #5D5D5D;
}

.middle-column-top input::-moz-placeholder {  /* Firefox 19+ */
    font-size: 13px;
    color: #5D5D5D;
}

.middle-column-top input:-ms-input-placeholder {  
    font-size: 13px;
    color: #5D5D5D;
}

.middle-column-top input:placeholder{
    font-size: 13px;
    color: #5D5D5D;
}

.middle-column-content-nav{
    width: 134px;
    height: 33px;
    padding: 19px;
    float: left;
}

nav figure{
    width: 22px;
    height: 22px;
    padding-top: 9px;
    padding-left: 10px;
    float: left;
    border: 1px solid #DADADA;
    border-right: none;
}

nav figure:hover{
    border: 1px solid #DADADA;
    border-right: none;
}

nav figure:hover + figure{
    border-left: 1px solid #DADADA;
}

nav figure:first-child{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

nav figure:last-child{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid #DADADA;
}

nav figure:last-child:hover{
    border: 1px solid #DADADA;
}

.box-shown nav figure.middle:hover{
    border: 1px solid #54728C;
    border-right: none;
}

.box-shown nav figure.middle:hover + figure{
    border-left: 1px solid #54728C;
}

.box-shown nav figure.middle:last-child:hover{
    border: 1px solid #54728C;
}

.message-shown nav figure.right:hover{
    border: 1px solid #54728C;
    border-right: none;
}

.message-shown nav figure.right:hover + figure{
    border-left: 1px solid #54728C;
}

.message-shown nav figure.right:last-child:hover{
    border: 1px solid #54728C;
}

/*nav figure.options-folder{
    width: 32px;
    padding-left: 6px;
}*/

/*nav figure.options-label{
    width: 32px;
    padding-left: 6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid #DADADA; 
}*/

nav figure i{
    width: 14px;
    height: 14px;
    float: left;
    display: block;
}

/*nav figure.options-display i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -163px 0;
    background-size: 177px 40px;
}*/

/*nav figure.options-refresh i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -28px -26px;
    background-size: 177px 40px;
}*/

.options-unread i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -121px 0;
    background-size: 177px 40px;
    height: 10px;
    margin-top: 3px;
}

.options-read i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -63px -16px;
    background-size: 177px 40px;
}

.options-spam i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -109px -23px;
    background-size: 177px 40px;
}

.options-trash i{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -123px -23px;
    background-size: 177px 40px;
}

/*nav figure.options-folder i{
    width: 9px;
    height: 5px;
    margin-left: 2px;
    margin-top: 6px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -92px -27px;
    background-size: 177px 40px;
}

nav figure.options-folder i:first-child{
    width: 14px;
    height: 11px;
    margin-left: 2px;
    margin-top: 2px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -93px 0;
    background-size: 177px 40px;
}*/

/*nav figure.options-label i{
    width: 9px;
    height: 5px;
    margin-left: 2px;
    margin-top: 6px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -92px -27px;
    background-size: 177px 40px;
}

figure.options-label i:first-child{
    width: 14px;
    height: 14px;
    margin-left: 2px;
    margin-top: 0px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -149px -14px;
    background-size: 177px 40px;
}*/

.middle-column-pages{
    height: 33px;
    float: left;
    width: 58px;
    margin-top: 19px;
}

.middle-column-pages-actual{
    color: #5D5D5D;
    font-size: 13px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.middle-column-pages-prev{
    float: left;
}

.middle-column-pages-prev:hover{
    border: 1px solid transparent;
}

.box-shown .middle-column-pages-prev:hover{
    border: 1px solid #54728C;
}

.middle-column-pages-prev i{
    width: 10px;
    height: 16px;
    background: url('https://static.weezeel.com/app/8/arrow_sprite.png') no-repeat -10px 0;
    background-size: 20px 32px;
    display: block;
}

.middle-column-pages-prev.disabled:hover{
    border: 1px solid transparent;
}

.middle-column-pages-prev.disabled i{
    background-position: -10px -16px;
}

.middle-column-pages-next{
    float: right;
}

.middle-column-pages-next:hover{
    border: 1px solid transparent;
}

.box-shown .middle-column-pages-next:hover{
    border: 1px solid #54728C;
}

.middle-column-pages-next i{
    width: 10px;
    height: 16px;
    background: url('https://static.weezeel.com/app/8/arrow_sprite.png') no-repeat 0 0;
    background-size: 20px 32px;
    display: block;
}

.middle-column-pages-next.disabled:hover{
    border: none;
}

.middle-column-pages-next.disabled i{
    background-position: 0 -16px;
}

.middle-column-content-scroll{
    width: 240px;
    height: 429px;
    margin: 0 auto;
}

.middle-column-content-scroll .wz-scroll-slider{
    margin-right: 0px;
}

.middle-column-content-scroll .wz-scroll-bar{
    margin-right: 0px;
}

.middle-column-content-none{
    width: 100%;
    margin: 155px 0 0;
    text-align: center;
    font-size: 22px;
    color: rgba( 0, 0, 0, 0.3 );
}

.box-shown .middle-column-content-none{
    display: none;
}

.message{
    width: 212px;
    height: 42px;
    float: left;
    padding: 10px 13px;
    border-radius: 2px;
    border: 1px solid rgba(60,60,60,0);
}

.message:hover{
    border: 1px solid rgba(84,114,140,0.3);
    background: rgba(84,114,140,0.1);
}

.message.selected{
    background: #54728C;
}

.message-top{
    width: 208px;
    height: 20px;
    float: left;
}

.message-middle{
    width: 218px;
    height: 20px;
    float: left;
    margin-top: 7px;
}

.message-icon{
    width: 14px;
    height: 13px;
    float: left;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -63px -16px;
    background-size: 177px 40px;
}

.message.unread .message-icon{
    height: 10px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -107px 0;
    background-size: 177px 40px;
}

.message-clip{
    float: right;
    width: 14px;
    height: 13px;
    display: none;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -79px -14px;
    background-size: 177px 40px;
}

.message-clip.attached{
    display: block;
}

.message.selected .message-clip.attached{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat 0 -25px;
    background-size: 177px 40px;
}

.message-date{
    float: right;
    font-size: 13px;
    color: #5D5D5D;
}

.message.selected .message-date{
    color: #FFF;
}

.message-top input{
    float: left;
    cursor: default;
}

.message-origin{
    width: 125px;
    height: 14px;
    float: left;
    margin-left: 8px;
    font-size: 13px;
    color: #5D5D5D;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message.selected .message-origin{
    color: #FFF;
}

.message-star{
    width: 14px;
    height: 13px;
    float: left;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -135px 0;
    background-size: 177px 40px;
}

.message-star.active{
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -149px 0;
    background-size: 177px 40px;
}

.message-subject{
    width: 195px;
    height: 14px;
    float: left;
    margin-left: 8px;
    font-size: 13px;
    color: #5D5D5D;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message.selected .message-subject{
    color: #FFF;
}

.message.unread span{
    font-weight: 500;
}

.mail-subject{
    width: 400px;
    float: left;
    margin-top: 13px;
    margin-left: 16px;
    font-size: 16px;
    height: 17px;
    color: #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right-column-content-receivers{
    width: 280px;
    max-height: 300px;
    padding-top: 15px;
    position: fixed;
    top: 158px;
    background: #FFF;
    border: 1px solid #54728C;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

.receivers-to{
    width: 100%;
    float: left;
    margin-bottom: 15px;
    display: none;
}

.receivers-cc{
    width: 100%;
    float: left;
    margin-bottom: 15px;
    display: none;
}

.receivers-cco{
    width: 100%;
    float: left;
    margin-bottom: 15px;
    display: none;
}

.receivers-title{
    float: left;
    color: #5D5D5D;
    margin-left: 12px;
}

.receivers-entry{
    float: right;
    width: 219px;
    height: 15px;
    color: #A3B6C5;
    margin: 0 10px 3px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right-column-content-reply-mode{
    position: fixed;
    top: 96px;
    right: 20px;
    background: #FFF;
    z-index: 1;
    border: 1px solid #54728C;
    border-radius: 2px;
    display: none;
}

.right-column-content-reply-mode article{
    width: 100%;
    float: left;
    clear: both;
}

.right-column-content-reply-mode article:hover{
    background: rgba( 117, 169, 209, 0.3 );
}

.right-column-content-reply-mode span{
    color: #5D5D5D;
    margin: 6px 14px;
}

.right-column-content-nav{
    width: 520px;
    float: left;
}

.right-column-content-options{
    width: 200px;
    height: 33px;
    float: left;
}

.options-prev{
    width: 21px;
    height: 23px;
    padding-top: 8px;
    padding-left: 11px;
}

.options-prev i{
    width: 10px;
    height: 16px;
    background: url('https://static.weezeel.com/app/8/arrow_sprite.png') no-repeat -10px 0;
    background-size: 20px 32px;
}

.options-next{
    width: 20px;
    height: 23px;
    padding-top: 8px;
    padding-left: 12px;
}

.options-next i{
    width: 10px;
    height: 16px;
    background: url('https://static.weezeel.com/app/8/arrow_sprite.png') no-repeat 0 0;
    background-size: 20px 32px;
}

.right-column-content-answer{
    float: right;
}

.options-reply i{
    margin-top: 2px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -78px -27px;
    background-size: 177px 40px;
}

.options-more{
    width: 14px;
    padding-left: 6px;
}

.options-more i{
    width: 9px;
    height: 5px;
    margin-top: 4px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -92px -27px;
    background-size: 177px 40px;
}

.content-origin{
    width: 520px;
    float: left;
    padding: 21px 0px 20px 0px;
    border-bottom: 1px solid #DADADA;
}

.content-origin img{
    width: 34px;
    height: 34px;
    float: left;
    border-radius: 18px;
}

.content-origin-right{
    width: 476px;
    float: left;
    padding-left: 10px;
}

.content-origin-top{
    width: 100%;
    height: 18px;
    float: left;
}

.content-origin-bottom{
    width: 100%;
    height: 16px;
    float: left;
}

.content-origin-name{
    float: left;
    font-size: 15px;
    color: #5D5D5D;
    max-width: 290px;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-origin-mail{
    float: left;
    font-size: 14px;
    color: #A3B6C5;
    max-width: 275px;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-origin-display{
    width: 14px;
    height: 14px;
    float: left;
    margin-left: 8px;
    display: block;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -163px -0;
    background-size: 177px 40px;
    display: none;
}

.content-origin-date{
    float: right;
    font-size: 14px;
    color: #5D5D5D;
}

.content-origin .message-clip{
    float: right;
    margin-left: 8px;
}

.right-column-content.attachments .message-clip{
    display: block;
}

.content-origin-bottom .message-star{
    float: right;
}

.content-message{
    width: 520px;
    height: 315px;
    float: left;
    margin-top: 20px;
}

.right-column-content.attachments .content-message{
    height: 181px;
}

.content-message-none{
    width: 100%;
    margin: 75px 0 0;
    text-align: center;
    font-size: 25px;
    color: rgba( 0, 0, 0, 0.3 );
}

.message-shown .content-message-none{
    display: none;
}

.content-message-text{
    width: 520px;
    padding-bottom: 20px;
    margin-left: 0px;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    text-align: justify;
    display: none;
}

.message-shown .content-message-text{
    display: block;
}

.right-column-content .wz-scroll-slider{
    margin-right: 8px;
}

.right-column-content .wz-scroll-bar{
    margin-right: 8px;
}

.content-attachments{
    display: none;
    width: 540px;
    height: 118px;
    float: left;
}

.right-column-content.attachments .content-attachments{
    display: block;
}   

.content-attachments article{
    width: 520px;
    float: left;
    padding-right: 20px;
    height: 16px;
    margin-top: 10px;
}

.content-attachments article:first-child{
    margin-top: 0px;
    margin-bottom: 10px;
}

.content-attachments span{
    float: left;
    font-size: 14px;
    color: #5D5D5D;
}

.content-attachments span:first-child{
    margin-left: 0px;
}

.content-attachments article i{
    width: 11px;
    height: 13px;
    float: left;
    margin-top: 1px;
    background: url('https://static.weezeel.com/app/8/sprite.png') no-repeat -123px -10px;
    background-size: 177px 40px;
}

.content-attachments .light{
    color: #AAA;
}

span.content-attachments-view{
    float: right;
    margin-right: 8px;
    color: #AAA;
    cursor: pointer;
}

.content-attachments-view:hover{
    color: #5D5D5D;
}

span.content-attachments-download{
    float: right;
    margin-right: 8px;
    color: #AAA;
    cursor: pointer;
}

.content-attachments-download:hover{
    color: #5D5D5D;
}

span.content-attachments-import{
    float: right;
    color: #AAA;
    cursor: pointer;
}

.content-attachments-import:hover{
    color: #5D5D5D;
}
