*{
    font-family: Lato !important;
}

span{
	color: #818181;
}

.line{
	width: 284px;
	height: 0px;
	border-top:1px solid #e8eeef;
	margin: 0px 5px 0px 5px;
	display: inherit;
	overflow: hidden;
}


/* Main window --------------------------------------------------*/

.window-content{
	width: 100%;
	height: ~"calc(100% - 40px)";
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.subcontent0,.subcontent1,.subcontent2{
	height: 100%;
}

.subheader0, .subheader1, .subheader2, .subcontent0,.subcontent1,.subcontent2{
	float: left;
}

.subheader0, .subheader1, .subheader2{
	height: 27px;
}

.subheader0{
	width: 220px;
}
.subheader1{
	width: 295px;
}
.subheader2{
  width: 441px;
}

.expanded{
	background: url("@static/expanded.png");
	background-repeat: no-repeat;
	width: 7px !important;
	height: 4px !important;
	padding-right: 0px !important;
	margin: 5px 0px 0px 5px;
}

/* End of main window --------------------------------------------------*/


/* Navigation bar --------------------------------------------------*/

.window-header{
	/*width: 100%;*/
	height: 39px;
  border-radius: 5px 5px 0 0;
  background-color: #f6f6f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 1px rgba(255, 255, 255, 0.1);
	background-image: -webkit-linear-gradient(bottom, #d6d6d6, #ffffff);
  background-image: -moz-linear-gradient(bottom, #d6d6d6, #ffffff);
  background-image: -o-linear-gradient(bottom, #d6d6d6, #ffffff);
  background-image: linear-gradient(to top, #d6d6d6, #ffffff);
  border-bottom: 1px solid #b9b9b9;
}

.subheader0, .subheader1, .subheader2{
	padding-top: 12px;
}

.subheader2{
	width: 440px;
	float:right;
	padding-top:0px;
	padding-right: 0px;
}

.mailText{
	float:left;
	padding-left: 20px;
	font-size: 15px;
}

.composeButton{
	width: 83px;
  height: 22px;
  margin: -7px 5px 0 0;
  padding: 6px 2px 0 6px;
  float: right;
}

.composeButton i{
	background: url("@static/compose.png");
	width:16px;
	height: 16px;
	float: left;
	background-repeat: no-repeat;
	padding-left: 3px;
}

.composeButton span{
	padding: 4px;
	font-size: 13px;
}

.searchField{
	width: 250px;
  height: 22px;
  margin: -7px 0 0 0;
  padding: 6px 2px 0 6px;
  float: left;
}

.searchField i{
	background: url("@static/search.png");
	width:16px;
	height: 16px;
	float: left;
	background-repeat: no-repeat;
	padding-left: 3px;
}

.searchField span{
	padding: 4px;
	color: #a5abad;
}


.closeButtons{
	width:82px;
	height: 16px;
	float:right;
	padding: 10px 10px 6px 0px;
}

/*.closeButtons i{
	width:16px;
	height: 16px;
	float:left;
	margin-left: 6px;
}

.closeButtons i:nth-child(1){
	background: url("@static/minimize.png");
	background-repeat: no-repeat;
}

.closeButtons i:nth-child(2){
	background: url("@static/enlarge.png");
	background-repeat: no-repeat;
}

.closeButtons i:nth-child(3){
	background: url("@static/close.png");
	background-repeat: no-repeat;
	background-color: white;
  border: 1px solid #c2cacd;
  border-radius: 3px;
	margin-left: 5px !important;
}*/

.button{
	border: 1px solid #c2cacd;
	border-radius: 3px;
	background-color: white !important;
	font-size: 15px;
}

.searchButton{
  width: 21px;
  height: 23px;
  margin: -7px 0 0 0;
  padding: 5px 2px 0 6px;
  float: right;
}

.searchButton i{
	background: url("@static/searchButton.png");
	width:16px;
	height: 16px;
	float: left;
	background-repeat: no-repeat;
	padding-left: 3px;
}

/* End of navigation bar --------------------------------------------------*/



/* Left sidebar --------------------------------------------------*/

.accounts{
	height: ~'calc(100% - 21px)';
  /*overflow-y: inherit;*/
}

.mail-account .options{
	display: none;
}

.mail-account.expanded-options .options{
	display: block;
}

.window-content .subcontent0{
	width:220px;
	/*overflow-y: auto;*/
}

.window-content .subcontent0 span{
	font-size: 15px;
	color:black;
}

.account-options{
  height: 16px;
  width: 240px;
  padding: 0px 5px 5px 5px;
  bottom: 0;
  position: absolute;
}

.account-options i{
	width:16px;
	height: 16px;
}

.mail-section0 .expanded-options{
	height: 315px;
}

.add-account{
	float: left;
	background:url("@static/add-account.png");
	background-repeat: no-repeat;
}

.max{
	float: right;
	margin-right: 15px;
	background:url("@static/max.png");
	background-repeat: no-repeat;
}

.mail-settings{
	float: left;
	background:url("@static/account-settings.png");
	background-repeat: no-repeat;
	padding-right: 5px;
  margin-left: 5px;
}

.mail-account .options{
	margin-left: 20px;
	width:167px;
}

.mail-account{
  margin-top: 5px;
  height: 25px;
  line-height: 25px;
  width: 100%;
}

.mail-account.yahoo-mail{
	border-top: 1px solid #e8eeef;
	padding-top: 3px;
}

.mail-account .yahoo-logo{
	width: 18px;
	height: 18px;
	float:left;
	background:url("@static/yahoo.png");
	background-repeat: no-repeat;
}

.mail-account.inevio-mail{
	border-top: 1px solid #e8eeef;
	padding-top: 3px;
}

.mail-account .inevio-logo{
	width: 18px;
	height: 18px;
	float:left;
	background:url("@static/inevio.png");
	background-repeat: no-repeat;
}

.mail-count{
	float:right;
	padding-right: 5px;
	font-size: 14px;
}

.subcontent0 .active{
	background-color: #3ba9e4;
  border-radius: 3px;
}

.subcontent0 .semiactive{
	background-color: #d5ebfa;
  border-radius: 3px;
}

.subcontent0 .active span{
	color:white;
}

.all-inbox{
	margin-top: 10px !important;
}

.all-inbox i{
	background:url("@static/allInbox2.png");
	background-repeat: no-repeat;
}

.all-inbox.active i{
	background:url("@static/allInbox.png");
	background-repeat: no-repeat;
}

.inbox-left i{
	background:url("@static/allInbox2.png");
	background-repeat: no-repeat;
}

.starred i{
	background:url("@static/starred.png");
	background-repeat: no-repeat;
}

.drafts i{
	background:url("@static/drafts.png");
	background-repeat: no-repeat;
}

.sent i{
	background:url("@static/sent.png");
	background-repeat: no-repeat;
}
.spam i{
	background:url("@static/spam.png");
	background-repeat: no-repeat;
}
.trash i{
	background:url("@static/trash.png");
	background-repeat: no-repeat;
}

.options i, .mail-account i{
	margin: 5px 8px 0px 3px;
	width:16px;
	height: 16px;
	float: left;
}

.options{
	margin: 5px 0px 0px 7px;
	padding-bottom: 2px;
	padding-left: 11px;
	height: 25px;
  line-height: 25px;
  width: 225px;
}

.folder i, .subfolder i{
	width: 17px !important;
	background:url("@static/folder.png");
	background-repeat: no-repeat;
}

.subfolder{
	padding-left: 26px !important;
}


/* End of left sidebar --------------------------------------------------*/

/* Middle content -------------------------------------------------- */

.subcontent1{
	border-left: 1px solid #e8eeef;
	border-right: 1px solid #ccd3d5;
}

.window-content .subcontent1{
  width: 293px;
}

.mail-options{
	padding: 10px 0px 0px 5px;
	height: 20px;
	padding-bottom: 10px;
}

.mail-options span{
	font-size: 14px;
}

.mail-options i{
	width:16px;
	height: 16px;
	padding-right: 10px;
}

.mail-options .mark-as{
	width:35px;
	height: 22px;
	float:left;
	background:url("@static/tick.png");
	background-repeat: no-repeat;
	margin-top: -2px;
}

.unread{
	float:left;
	background:url("@static/mark-as-unread.png");
	background-repeat: no-repeat;
}

.read{
	float:left;
	background:url("@static/mark-as-read.png");
	background-repeat: no-repeat;
}

.spam-button{
	float:left;
	background:url("@static/spam.png");
	background-repeat: no-repeat;
}

.fav{
	float:left;
	background:url("@static/starred.png");
	background-repeat: no-repeat;
}

.delete{
	float:left;
	background:url("@static/trash2.png");
	background-repeat: no-repeat;
}

.sort-by{
	float:right;
	margin-right: 10px;
}


.inbox{
  height: ~'calc(100% - 40px)';
}

.emails, .scrollbar-inbox{
	/*height: 100%;*/
}

.scrollbar-inbox{
	display: none;
	width:13px;
	background-image: url("@static/scroll-inbox.png");
	background-repeat: no-repeat;
	float:right;
	border-top: 1px solid #ccd3d5;
}

.emails{
	width: 100%;
  height: 100%;
	/*to-do*/
  float: left;
	/*overflow-y: auto;*/
}

.day{
	width: 100%;
	height: 20px;
	background-color: #f6f8f8;
	border-bottom: 1px solid #ccd3d5;
	border-top: 1px solid #ccd3d5;
	color: #465057;
	font-size: 13px;
  padding-top: 8px;
  font-weight: bold;
	display: inline-block;
	text-align: center;
  margin-bottom: 2px;
}


.single-mail{
	/*border-radius: 5px;
  padding: 10px 5px 5px 5px;*/
  margin-bottom: 5px;
  width: 100%;
  height: 94px;
  float: left;
}

.mail-left{
  width: 19px;
  height: 82px;
  float: left;
  margin-left: 8px;
  margin-top: 12px;
}

.mail-left i{
	float: left;
}

.mail-content{
  float: left;
  height: 70px;
  width: 258px;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.mail-from{
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.mail-subject{
	padding-top: 5px;
	font-weight: bold;
	font-size: 11px;
}

.mail-date{
	padding-top: 7px;
	padding-right: 7px;
	font-weight: bold;
	font-size: 11px;
	float:right;
}

.mail-text{
	font-size: 12px;
	padding-top: 10px;
}

.mail-text span{
  height: 25px;
  display: inline-block;
  overflow: hidden;
}

.select{
	width:12px;
	height: 12px;
	background-image: url("@static/select.png");
	background-repeat: no-repeat;
	margin-top: 2px;
}

.important{
	width:12px;
	height: 12px;
	background-image: url("@static/important.png");
	background-repeat: no-repeat;
	margin-top: 7px;
}

.single-mail.active .blue-dot{
	background-image: none;
}

.semiactive .blue-dot{
	width:	8px;
	height: 8px;
	background-image: url("@static/blue-dot.png");
	background-repeat: no-repeat;
	margin: 12px 0px 0px 2px;

}

.emails .single-mail.active{
	color:white !important;
	background-color: #3ba9e4;
}

.single-mail:hover{
  background-color: #d1e8f6;
}

.emails .active span,.emails .active div{
	color:white !important;
}

.emails .active .important{
	background-image: url("@static/important-active.png");
}

.emails .semiactive{
	background-color: #d5ebfa;
}


/*End of middle content--------------------------------------------------*/


/* Right content -------------------------------------------------- */

.subcontent2{
  width: ~"calc(100% - 515px)";
}

.scrollbar-open-mail{
	width:13px;
	height: 788px;
	background-image: url("@static/scroll-open-mail.png");
	background-repeat: no-repeat;
	float: right;
	display: none;
}

.full-mail{
	width: ~"calc(100% - 40px)";
  height: ~"calc(100% - 40px)";
  float: left;
	padding: 20px;
}

.full-mail-header{
	height: 54px;
	border-bottom: 1px solid #ccd3d5;
}

.full-mail-content{
  height: ~'calc(100% - 35px)';
  width: 100%;
  padding-right: 17px;
}

.full-mail-title{
	color: #545f65;
	font-size: 19px;
	font-weight: bold;
  width: ~'calc(100% - 175px)';
  float: left;
}

.full-mail-date{
  float: right;
  color: #9ea4a6;
  font-size: 11px;
  padding-top: 6px;
  font-weight: bold;
  width: 175px;
  text-align: right;
}

.full-mail-delivery{
	font-size: 13px;
	padding-top: 7px;
	float:left;
	width: ~'calc(100% - 121px)';
}

.to{
	color:black;
}

.from{
	color:#3ba9e4;
}

.full-mail-options{
  float: right;
  height: 23px;
  margin-top: 3px;
}

.full-mail-options .more{
  width: 3px;
  height: 11px;
}

.full-mail-options i{
	width:22px;
	height: 22px;
	float:left;
	padding-left: 5px;
}

.full-important{
	background-image: url("@static/full-important.png");
	background-repeat: no-repeat;
}

.reply{
	background-image: url("@static/reply.png");
	background-repeat: no-repeat;
}

.reply-all{
	background-image: url("@static/reply-all.png");
	background-repeat: no-repeat;
}

.reply2{
	background-image: url("@static/reply2.png");
	background-repeat: no-repeat;
}

.more{
	background-image: url("@static/expanded.png");
	background-repeat: no-repeat;
	width: 8px;
  height: 8px;
  margin: 9px 0px 0px 5px;
}

.full-mail-text{
	padding-top: 15px;
	font-size: 13px;
	padding-bottom: 10px;
	line-height: 1.4em;
	border-bottom: 1px solid #ccd3d5;
}

.full-mail-text i{
	width: 406px;
  height: 291px;
  background-image: url("@static/sunset.png");
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
}

.full-mail-attachments{
	margin-top: 10px;
  padding: 10px 10px 10px 15px;
	background-color: #f6f8f8;
	height: 165px;
	border-radius: 5px;
	border:1px solid #ccd3d5;
}

.attch{
	height: 22px;
}

.attachments-information{
	padding-top: 3px;
	font-weight: bold;
	float: left;
	font-size: 15px;
	color: black;
}

.save-all{
	width:22px;
	height: 22px;
	background-image: url("@static/save-all.png");
  background-repeat: no-repeat;
	float: right;
}


.attachment{
  width: 125px;
  height: 135px;
	float: left;
	margin-top: 5px;
}

.attachment i{
	width: 120px;
  height: 117px;
}

.attachment1 i{
	background-image: url("@static/doc.png");
  background-repeat: no-repeat;
	display: inline-block;
}

.attachment3 i{
	background-image: url("@static/generico.png");
  background-repeat: no-repeat;
	display: inline-block;
}
.attachment4 i{
	background-image: url("@static/grids.png");
  background-repeat: no-repeat;
	display: inline-block;
}
.attachment5 i{
	background-image: url("@static/music.png");
  background-repeat: no-repeat;
	display: inline-block;
}

.attachment div{
	font-size: 14px;
	width: 125px;
	text-align: center;
}

.attachment2{
	margin-top: 5px;
	float: left;
  width: 125px;
  height: 135px;
	background-color: #3ba9e4;
	padding: 3px;
	border-radius: 5px;
}

.attachment2 div{
  color: white;
  text-align: left;
  width: 110px;
  font-size: 13px;
}

.attch-name, #attch-size{
	margin: 5px;
}

.attch-size{
	font-size: 11px !important;
}

.attch-save{
  margin: 50px 0px 0px 7px;
  height: 20px;
  border-radius: 2px;
  float: left;
  background: white;
}

.attch-save i{
	width:12px;
	height: 12px;
	background-image: url("@static/save.png");
  background-repeat: no-repeat;
	float: left;
	margin: 4px 8px 0px 5px;
}

.attch-save div{
	color: #6f787f !important;
  padding-top: 5px;
	font-size: 11px;
	font-weight: bold;
	width: 105px !important;
}

.full-mail-delivery i{
	width:8px;
	height: 8px;
	background-image: url("@static/expanded.png");
  background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: -2px;
}

/*End of Right content--------------------------------------------------*/
