
<section class="wz-view-menu dark wz-view-menu-radius wz-dragger">

    <span class="hosting-title wz-dragger"></span>

    <figure class="wz-view-close">
        <i></i>
    </figure>
    <figure class="wz-view-minimize">
        <i></i>
    </figure>

</section>

<section class="content">

    <figure class="hosting-image inevio"></figure>
    <figure class="hosting-image gmail"></figure>
    <figure class="hosting-image hotmail"></figure>
    <figure class="hosting-image outlook"></figure>
    <figure class="hosting-image yahoo"></figure>
    <article class="hosting-image other">
        <span class="hosting-image-other"></span>
    </article>

</section>
