
<section class="left-column wz-fit-y">

    <article class="left-column-top wz-dragger">
        <span class="wz-dragger"></span>
    </article>

    <section class="left-column-content wz-fit-y">

        <figure class="new-mail">
            <i></i>
            <span></span>
        </figure>

        <article class="left-column-content-scroll wz-scroll wz-fit-y">

            <article class="account wz-prototype arrow-closed">

                <section class="account-info">

                    <i class="arrow"></i>
                    <span></span>
                    <figure class="bullet big"></figure>

                </section>

                <section class="children">

                    <article class="mailbox wz-prototype wz-drop-area hide-arrow">

                        <section class="mailbox-info">

                            <i class="arrow"></i>
                            <i class="icon"></i>
                            <span class=""></span>
                            <figure class="bullet"></figure>

                        </section>

                        <section class="children"></section>

                    </article>

                </section>

                <!--
                <article class="mailbox syncing">
                    <i></i>
                    <span></span>
                </article>


                -->

            </article>

            <article class="add-account">
                <i></i>
                <span></span>
            </article>

        </article>

    </section>

</section>

<section class="separator wz-fit-y">
    <article class="separator-top wz-dragger">
    </article>
    <article class="separator-content wz-fit-y">
    </article>
</section>

<section class="middle-column wz-fit-y">

    <article class="middle-column-top wz-dragger">
        <span class="wz-dragger"></span>
        <input />
    </article>

    <section class="middle-column-content wz-fit-y">

        <section class="middle-column-content-head">

            <nav class="middle-column-content-nav">

                <figure class="options-unread middle">
                    <i></i>
                </figure>

                <figure class="options-read middle">
                    <i></i>
                </figure>

                <!--
                <figure class="options-spam middle">
                    <i></i>
                </figure>
                -->

                <figure class="options-trash middle">
                    <i></i>
                </figure>

            </nav>

            <article class="middle-column-pages">

                <span class="middle-column-pages-actual"></span>

                <figure class="wz-view-option middle-column-pages-prev">
                    <i></i>
                </figure>

                <figure class="wz-view-option middle-column-pages-next">
                    <i></i>
                </figure>

            </article>

        </section>

        <article class="middle-column-content-scroll wz-scroll wz-fit-y">

            <span class="middle-column-content-none"></span>

            <article class="message parent wz-prototype wz-draggable wz-dragger wz-droppable">

                <article class="message-top wz-dragger">
                    <i class="message-icon wz-dragger"></i>
                    <span class="message-origin wz-dragger"></span>
                    <span class="message-date wz-dragger"></span>
                    <i class="message-clip wz-dragger"></i>
                </article>

                <article class="message-middle wz-dragger">
                    <i class="message-star wz-dragger"></i>
                    <span class="message-subject wz-dragger"></span>
                </article>

            </article>

        </article>

    </section>

</section>

<section class="separator wz-fit-y">

    <article class="separator-top wz-dragger"></article>
    <article class="separator-content wz-fit-y"></article>

</section>

<section class="right-column wz-fit">

    <article class="right-column-top dark wz-dragger wz-fit-x">

        <span class="mail-subject wz-dragger"></span>

        <figure class="wz-view-close">
            <i></i>
        </figure>

        <figure class="wz-view-maximize">
            <i></i>
        </figure>

        <figure class="wz-view-minimize">
            <i></i>
        </figure>

    </article>

    <section class="right-column-content parent attachments wz-fit">

        <section class="right-column-content-receivers wz-scroll wz-fit-ignore">

            <article class="receivers-to">
                <span class="receivers-title"></span>
                <span class="receivers-entry wz-prototype wz-selectable"></span>
            </article>

            <article class="receivers-cc">
                <span class="receivers-title"></span>
                <span class="receivers-entry wz-prototype wz-selectable"></span>
            </article>

            <article class="receivers-cco">
                <span class="receivers-title"></span>
                <span class="receivers-entry wz-prototype wz-selectable"></span>
            </article>

        </section>

        <article class="right-column-content-reply-mode wz-fit-ignore">

            <article class="reply-mode-reply">
                <span></span>
            </article>

            <article class="reply-mode-reply-all">
                <span></span>
            </article>

            <article class="reply-mode-forward">
                <span></span>
            </article>

            <!--
            <article class="reply-mode-mark-unread">
                <span></span>
            </article>

            <article class="reply-mode-spam">
                <span></span>
            </article>

            <article class="reply-mode-delete">
                <span></span>
            </article>
            -->

        </article>

        <article class="wz-fit-x right-column-content-nav">

            <nav class="right-column-content-options">

                <figure class="options-unread right">
                    <i></i>
                </figure>

                <figure class="options-read right">
                    <i></i>
                </figure>

                <!--
                <figure class="options-spam right">
                    <i></i>
                </figure>
                -->

                <figure class="options-trash right">
                    <i></i>
                </figure>

                <figure class="options-prev right">
                    <i></i>
                </figure>

                <figure class="options-next right">
                    <i></i>
                </figure>

            </nav>

            <nav class="right-column-content-answer">

                <figure class="options-reply right">
                    <i></i>
                </figure>

                <figure class="options-more right">
                    <i></i>
                </figure>

            </nav>

        </article>

        <article class="content-origin wz-fit-x">

            <img src="https://static.inevio.com/image/silhouette/silhouette.c_32.png" />

            <article class="content-origin-right wz-fit-x">

                <article class="content-origin-top">
                    <span class="content-origin-name"></span>
                </article>

                <article class="content-origin-bottom">

                    <span class="content-origin-mail wz-selectable"></span>
                    <i class="content-origin-display"></i>
                    <span class="content-origin-date"></span>
                    <i class="message-clip"></i>
                    <i class="message-star"></i>

                </article>

            </article>

        </article>

        <article class="content-message wz-scroll wz-fit">

            <span class="content-message-none"></span>
            <iframe scrolling="no" sandbox=" allow-same-origin allow-top-navigation allow-forms " class="content-message-text wz-fit-x"></iframe>

        </article>

        <article class="content-attachments wz-scroll wz-fit-x">

            <article class="wz-fit-x content-attachments-title">
                <span></span>
                <span class="stats light"></span>
            </article>

            <article class="attachment wz-prototype wz-fit-x">
                <i></i>
                <span class="name"></span>
                <span class="size light"></span>
                <span class="content-attachments-import"></span>
            </article>

        </article>

    </section>

</section>
